body {
    font-family: Arial;
    font-size: small;
}
.wrapper {
    margin-top: 0px;
}
.content, tr {
    margin: 0 auto;
    width: 800px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0px;
}
.content, td {
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}
.content-0 td {
    border: 0px;
}
.content-1a {
    margin-left: 5px;
    margin-top: -5px;
}
.content-1a td {
    padding: 3px;
    border: none;
}
.content-1b {
    margin: 5px;
}
.content-1b, tr {
    border: 1px solid black;
    border-collapse: collapse;
}
.content-1b, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.content-2 {
    margin: 5px;
}
.content-2, tr {
    border: 1px solid black;
    border-collapse: collapse;
}
.content-2, td {
    border: 1px solid black;
    border-collapse: collapse;
}